a > .icon.outbound {
  display: none;
}

@media (prefers-color-scheme:dark) {
  .sw-update-popup {
    color: var(--bgColor);
    border: 2px solid var(--accentColor) !important;
  }
  .algolia-search-wrapper .algolia-autocomplete .ds-dropdown-menu {
    border: none !important;
    background: #fff !important;
  }
}

.sw-update-popup > button {
  border: 1px solid var(--accentColor);
}

.custom-block a {
  color: var(--accentColor) !important;
}
